h2 {
    font-family: "Georgia", Times, serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 25px;
    color: #f05513;
    text-shadow: 3px 3px 3px #ababab;
}
table {
    border: 1px;
    border-style: solid;
    border-collapse: collapse;
    width: 100%;
    background-color: azure;
}
tr {
    height: 80px;
    border: 1px;
    border-style: solid;
    vertical-align: middle;
    text-align: center;
}
td {
    border: 1px ;
    border-style: solid;
    height: 80px;
    text-align: left;
    vertical-align: middle;
}
h5 {
    margin-left: 25px;
    font-family: "Georgia", Times, serif;
    font-style: normal;
    font-size: medium;
    font-weight: normal;
    text-shadow: 3px 3px 3px #ababab;
}
p {
    color: black;
    font-size: 15px;
    font-family: "Georgia", Times, serif;
}
div {
    text-align: left;
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
}
.sensorReadings {
    width: 70px;
    height: 30px;
    padding: 5px;
    position: relative;
    left: 230px;
    bottom: 60px;
    margin-right: 10px;
}
.dataTable {
    text-align: center;
}
